<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="tmpltcss.css">
	<title></title>
</head>
<body>
	<!-- start header -->
	<div class="header">
		<div class="slider">
			<div class="container">
				<div class="intro txt-center">
					<h2> Web &amp; Graphics Designer</h2>
					<button>Learn more</button>
				</div>
			</div>
		</div>
		<div class="navbar">
			<div class="container">
				<h2 class="fl-left">Fi<span>WEB</span></h2>
				<ul>
				     <li><a href="#">home</a></li>
				     <li><a href="#">about us</a></li>
				     <li><a href="#">skills</a></li>
				     <li><a href="#">resume</a></li>
				     <li><a href="#">rates</a></li>
				     <li><a href="#">contact me</a></li> 
			    </ul>
			</div>
			
		</div>
		
	</div>

    <!-- end header -->
    <!-- start features -->
    <div class="features">
    	<div class="container">
    		<div class="feat fl-left">
    			<h2>Values</h2>
    			<p>aymen dafri ,23 year old muslim , i beleive that we must treat people nicely, and help each other </p>
    		</div>
    		<div class="feat fl-left">
    			<h2>Goals</h2>
    			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
    	    </div>
    		<div class="feat fl-left">
    			<h2>Hobbies</h2>
    			<p>learn new languages, learn how to programe , front-end and back-end, practise sports </p>
    		</div>
    	</div>
    </div>
<!-- end features -->

<!-- start about me-->
<div class="about-me">
	<div class="container">
		<div class="image fl-left">
			<img src="about1.png">
		</div>
		<div class="info fl-left">
			<h2>About Me</h2>
			<p>aymen dafri ,22 year old muslim , from north africa an ambitious man and motivated </p>
			<div class="hobbies">
				<div class="content fl-left">
					<div class="icon fl-left">
						<img src="icn1.png">
					</div>
					<div class="hbtext fl-left">
						<h4> Web Desing<h4/>
					    <p>learn new languages, learn how to programe , front-end and back-end, practise sports</p>	
					</div>
				</div>
				<div class="content fl-left">
					<div class="icon fl-left">
						<img src="bend.png">
					</div>
					<div class="hbtext fl-left">
						<h4>back-end<h4/>
					    <p>learn new languages, learn how to programe , front-end and back-end, practise sports</p>
					</div> 	
				</div>
				<div class="content fl-left">
					<div class="icon fl-left">
						<img src="omarket.png">
					</div>
					<div class="hbtext fl-left">
						<h4>Online market</h4>
					    <p>learn new languages, learn how to programe , front-end and back-end, practise sports</p>
					</div>
				</div>
				<div class="content fl-left">
					<div class="icon fl-left">
						<img src="flance.png">
					</div>
					<div class="hbtext fl-left">
						<h4>free lancer</h4>
					    <p>learn new languages, learn how to programe , front-end and back-end, practise sports</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- end about me -->

<!-- start skills -->
<div class="skills">
	<div class="container">
		<div class="myskills fl-left">
			<h2>My Skills</h2>
			<p> making desings , using basic and simple code , easy to read the code by other programer in team work, git team online work and tools .framework and library.</p>
			<br/>
			<p>
				find the problem and fixe errors, i have a knowldege in back end and same in data bases.
			</p>
			<br>
			<br>
			<button class="my-btn">Click Me!</button>
		</div>
		<!--<div class="myprogr">
			<div>
				<h3>photoshop</h3>
				<progress value="40" max="100">
			</div>
			<div>
				<h3>HTML/CSS</h3>
				<progress value="60" max="100">
			</div>
			<div>
				<h3>javascript</h3>
				<progress value="60" max="100">
			</div>
			<div>
				<h3>python,mysql</h3>
				<progress value="40" max="100">
			</div>
		</div>-->
		<div class="myprogr fl-left">
			<div class="tech">
				<h3>Photoshop</h3>
				<div><span style="width: 40%;">40% &nbsp;</span></div>
			</div>
			<div class="tech">
				<h3>Html/Css</h3>
				<div><span style="width: 70%;">70% &nbsp;</span></div>
			</div>
			<div class="tech">
				<h3>JavaScript</h3>
				<div><span style="width: 60%;">60%</span></div>
			</div>
			<div class="tech">
				<h3>python/mysql</h3>
				<div><span style="width: 50%;">50%</span></div>
			</div>
		</div>
	</div>
</div>
<!-- end skills -->
<!-- start resume -->
<div class="resume txt-center">
	<div class="container">
		<h2>Resume</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque libero voluptatum, incidunt quae 
			a deleniti aliquid non magni corporis molestias cupiditate similique delectus, debitis ut quibusdam dolor optio exercitationem. Nam?
		</p>
		<br>
		<button class="my-btn">DownLoad Resume</button>
	</div>
</div>
<!-- end resume-->
<!-- start education-->
<div class="education">
	<div class="container">
		<div class="myeduc fl-left">
			<h2>My education</h2>
			<p> making desings , using basic and simple code , easy to read the code by other programer in team work, git team online work and tools .framework and library.</p>
			<br/>
			<p>
				find the problem and fixe errors, i have a knowldege in back end and same in data bases.
			</p>
			<br>
			<br>
		</div>
		<div class="myprogrt fl-left">
			<div>
				<h3>photoshop diploma</h3>
				<span><strong>20-out university</strong>(2016,june)</span>
				<span>4 Years</span>
				<hr>
				<p>making desings , using basic and simple code , easy to read the code by other programer in team work, git team online work and tools .framework and library</p>
				
			</div>
			<div>
				<h3>HTML/CSS</h3>
				<span><strong>Self-taught</strong>(1year learning)</span>
				<span>1 Year</span>
				<hr>
				<p>making desings , using basic and simple code , easy to read the code by other programer in team work, git team online work and tools </p>

				
			</div>
		</div>
		<hr>
		<div class="myeduc fl-left">
			<h2>Work Experience</h2>
			<p>making desings , using basic and simple code , easy to read the code by other programer in team work, git team online work and tools .framework and library</p>
		</div>
		<div class="myprogrt fl-left">
			<div>
				<h3>Web Design</h3>
				<span><strong>ABC camp :</strong> 2017 juin</span>
				<span>4 Years</span>
				<hr>
				<p>making desings , using basic and simple code , easy to read the code by other programer in team work, git team online work and tools .framework and library</p>
				
			</div>
			<div>
				<h3>JavaScript</h3>
				<span><strong>Udimy camp :</strong> 2018 out</span>
				<span>1 Year</span>
				<hr>
				<p>making desings , using basic and simple code , easy to read the code by other programer in team work, git team online work and tools </p>

				
			</div>
			<div>
				<h3>Back-End</h3>
				<span><strong>Self-Taught :</strong> 2018 summer</span>
				<span>1 Year</span>
				<hr>
				<p>making desings , using basic and simple code , easy to read the code by other programer in team work, git team online work and tools </p>

			</div>


			
		</div>	
	</div>
</div>
<!-- end education-->
<!-- start testmonial-->
<div class="testmonial txt-center">
	<div class="container">
		<q>Lorem ipsum dolor sit amet consectetur adipisicing elit. A fugiat explicabo odio aliquam. 
			Reprehenderit esse placeat cupiditate voluptatibus corrupti repellendus reiciendis minima. Fuga ex molestias alias deserunt vero laudantium itaque!
		</q>
		<br>
		<h3>Aymen Dafri</h3>
		<ul>
			<li></li>
			<li class="active"></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>
<!-- end testmonial-->

<!-- start portphoto-->
<div class="portphoto txt-center">
	<div class="container">
		<h2>PORTPHOTO</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus alias quas
			 accusamus porro recusandae! Quo animi nulla facere deserunt laborum aut. 
			 Odit illum dolore minus tempora laudantium, quaerat error repellat. </p>
		<div class="ourwork">

		    <div><img src="pt1.png"></div>
		    <div><img src="pt2.jpg"></div>
		    <div><img src="pt3.png"></div>
		    <div><img src="pt4.jpg"></div>
		    <div><img src="pt5.jpg"></div>
		    <div><img src="pt6.jpg"></div>
		    <div><img src="pt7.jpg"></div>
		    <div><img src="pt8.png"></div>
		    <div><img src="pt9.png"></div>
		    
	    </div>
	</div>
	
</div>
<!-- end portphoto-->

<!-- start contact-->
<div class="contact">
	<div class="container">
		<div class="mycntct fl-left">
			<h3>CONTACT ME</h3>
			<p>making desings , using basic and simple code , easy to read the code by other programer in team work, git team online work and tools</p>
			<p>
			21000 north Africa<br>
			felfila<br>
			city MZD
			</p>
			<p>
			<strong>Email:</strong>focal@gmail.com
			<br>
			<strong>Phone:</strong>+213 678365517
		    </p>
		</div>
		<form class="tool fl-left">
			<label>Name:</label>
			<input type="text" name="">
			<label>Email Address:</label>
			<input type="text" name="">
			<label>Comment:</label>
			<textarea></textarea>
			<br><br>
			<input type="submit" value="Contact me">
			
		</form>
	</div>
</div>
<!-- end contact-->

<!-- start footer-->
<div class="footer txt-center">
	<div class="container">
		Copyright &copy; FiWEB 2019
	</div>
	<ul>
		<li><img src="ft5.png"></li>
		<li><img src="ft3.jpg"></li>
		<li><img src="ft1.png"></li>
		<li><img src="ft4.png"></li>
	</ul>
</div>
<!-- end footer-->

</body>
</html>